body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
footer {
    position: relative;
}

.right-corner {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.right-corner p {
    margin-right: 10px;
}

.right-corner a {
    text-decoration: none;
}

.right-corner img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
}

